:root {
  --primary: #0070f3;
  --primary-dark: #0051b3;
  --text-primary: #333;
  --text-secondary: #666;
  --background: #fff;
  --gray-100: #f7f7f7;
  --gray-200: #eaeaea;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
   font-family: Open Sans, sans-serif; 
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

