.doctors {
	padding: 4rem 0;
	background: #fff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	max-width: 605px;
	text-align: center; /* Ensure text is centered */
	margin: 0 auto 4rem auto; /* Center the header container */
	display: flex; /* Use flexbox for alignment */
	flex-direction: column; /* Align items vertically */
	justify-content: center; /* Ensure content is centered horizontally */
}

.icon {
	font-size: 1.25rem;
}

.title {
	color: #000d44;
	font-size: 2.28rem; 
	font-weight: 600; 
	line-height: 51.57px; 
	text-align: center; 
}

.description {
	color: #788094;
	font-size: 1rem; 
	font-weight: 400;
	line-height: 24px; 
	text-align: center; 
	text-underline-position: from-font; 
	text-decoration-skip-ink: none;
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.6; 
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card {
	background: white;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
}

.imageWrapper {
	height: auto;
	background: #f8fafc;
	position: relative;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	padding: 1.5rem;
}

.doctorName {
	font-size: 1.46rem; 
	font-weight: 700;
	line-height: 1.95rem; 
	letter-spacing: -0.015em; 
	color: #1e293b; 
	margin-bottom: 0.5rem;
}

.specialtyWrapper {
	display: flex; 
	justify-content: space-between;
	gap: 1rem; 
	margin-top: 1.5rem;
	align-items: center;
}

.specialty {
	font-size: 0.85rem;
	font-weight: 600; 
	line-height: 1.16rem; 
	letter-spacing: -0.01em; 
	color: #64748b; 
	margin-bottom: 1rem;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	margin-bottom: 1rem;
}

.stars {
	color: #feb62f; 
	font-size: 1.8rem; 
	display: inline-block; 
	width: auto; 
	height: auto; 
}

.score {
	font-weight: 600;
	color: #1D2B4F;
  font-size: 13.54px;
}

.reviews {
  font-weight: 600;
	color: #636E88;
	font-size: 0.875rem;
}

.stats {
	padding-top: 1rem;
}

.patients {
    font-size: 0.97rem; 
    font-weight: 600; 
    line-height: 1.32rem; 
    letter-spacing: -0.01em; 
    text-align: left; 
    color: #1D2B4F;
    margin-bottom: 0.25rem; 
}


.hospital {
	color: #636E88;
	font-size: 0.875rem;
}

@media (max-width: 1024px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 640px) {
	.grid {
		grid-template-columns: 1fr;
	}

	.title {
		font-size: 2rem;
	}

	.description {
		font-size: 1rem;
	}
}
